<h1>Krusty Krab</h1>

<h2>Krabby Patties!</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
    <li>{{id}}. {{burger_name}}</li>
    <button data-id="{{id}}" class="changeEaten btn btn-large waves-effect waves-light red yellow-text">Devour</button>
  {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Krabby Patties!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
    <li>{{id}}. {{burger_name}}</li>
    <button data-id="{{id}}" class="btn disabled">Devoured</button>
  {{/if}}
  {{/each}}
</ul>

<h2>Order a custom Krabby Patty!</h2>
<form class="create-form col s12">

  <div class="form-group input-field container">
    <label for="burg">Name: </label>
    <input type="text" id="burg" name="name">
  </div>

  <button class="btn btn-large waves-effect waves-light red yellow-text" type="submit">Add Krabby Patty</button>
</form>